
<section class="content-section">
  <div class="container print-box">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Sports</h2>
      </div>
    </div>
    <!-- end row -->
    <div class="row justify-content-center" >

      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia" style="margin-bottom: 5px;">
          <div class="post-content" style="padding: 15px;">
           
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="post-single.html" class="fsize20">5 natural ways to boost your mental health week</a></h3>
            <p class="post-excerpt" style="font-size:14px;">If you had to choose just one thing to do to better your mental and physical health, choose to exercise.</p>
          </div>
        </div>
      </div>

            <!-- end col-4 -->
      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia">
          <div class="post-content" style="padding: 15px;">
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="post-single.html" class="fsize20">5 natural ways to boost your mental health week</a></h3>
            <p class="post-excerpt" style="font-size:14px;">If you had to choose just one thing to do to better your mental and physical health,.</p>
          </div>
        </div>
      </div>

            <!-- end col-4 -->
      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia">
          <div class="post-content" style="padding: 15px;">
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="post-single.html" class="fsize20">5 natural ways to boost your mental health week</a></h3>
            <p class="post-excerpt" style="font-size:14px;">If you had to choose just one thing to do to better your mental and physical health,.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia">
          <div class="post-content" style="padding: 15px;">
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="post-single.html" class="fsize20">5 natural ways to boost your mental health week</a></h3>
            <p class="post-excerpt" style="font-size:14px;">If you had to choose just one thing to do to better your mental and physical health,.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia">
          <div class="post-content" style="padding: 15px;">
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="post-single.html" class="fsize20">5 natural ways to boost your mental health week</a></h3>
            <p class="post-excerpt" style="font-size:14px;">If you had to choose just one thing to do to better your mental and physical health,.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia">
          <div class="post-content" style="padding: 15px;">
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="post-single.html" class="fsize20">5 natural ways to boost your mental health week</a></h3>
            <p class="post-excerpt" style="font-size:14px;">If you had to choose just one thing to do to better your mental and physical health,.</p>
          </div>
        </div>
      </div>

       






       
      
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>