<!-- end content-section -->
<section class="content-section no-spacing">
<div class="container print-box" style="padding:5px;">
    <h3 class="section-title">Entertainment</h3>
  <div class="highlight-slider-wrapper">
    <div class="highlight-slider-top">
      <div class="swiper-wrapper">
        
        
        
        <div class="swiper-slide">
          <div class="blog-post indiana">
            <div class="post-image" data-background="images/full-width05.jpg"></div>
            <!-- post-image -->
            <div class="container">
              <div class="post-content">
                <ul class="post-categories">
                </ul>
                <h3 class="post-title"><a href="post-single.html">Best new cookbooks for hunkering down during the pandemic</a></h3>
              </div>
              <!-- end post-content --> 
            </div>
            <!-- end container --> 
          </div>
          <!-- end blog-post --> 
        </div>



        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="blog-post indiana">
            <div class="post-image" data-background="images/full-width06.jpg"></div>
            <!-- post-image -->
            <div class="container">
              <div class="post-content">
                <ul class="post-categories">
                  <li><a href="#">TRAVEL</a></li>
                  <li><a href="#">LIFESTYLE</a></li>
                </ul>
                <h3 class="post-title"><a href="post-single.html">Peloton recalls pedals on 27,000 exercise bikes after reported injuries</a></h3>
              </div>
              <!-- end post-content --> 
            </div>
            <!-- end container --> 
          </div>
          <!-- end blog-post --> 
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="blog-post indiana">
            <div class="post-image" data-background="images/full-width07.jpg"></div>
            <!-- post-image -->
            <div class="container">
              <div class="post-content">
                <ul class="post-categories">
                  <li><a href="#">TRAVEL</a></li>
                  <li><a href="#">LIFESTYLE</a></li>
                </ul>
                <h3 class="post-title"><a href="post-single.html">NordicTrack owner sues Peloton for allegedly stealing bike features</a></h3>
              </div>
              <!-- end post-content --> 
            </div>
            <!-- end container --> 
          </div>
          <!-- end blog-post --> 
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="blog-post indiana">
            <div class="post-image" data-background="images/full-width08.jpg"></div>
            <!-- post-image -->
            <div class="container">
              <div class="post-content">
                <ul class="post-categories">
                  <li><a href="#">TRAVEL</a></li>
                  <li><a href="#">LIFESTYLE</a></li>
                </ul>
                <h3 class="post-title"><a href="post-single.html">Boden poised to make first Cabinet announcements next week</a></h3>
              </div>
              <!-- end post-content --> 
            </div>
            <!-- end container --> 
          </div>
          <!-- end blog-post --> 
        </div>
        <!-- end swiper-slide --> 
      </div>
      <!-- end swiper-wrapper --> 
    </div>
    <!-- end highlight-slider-top -->
    <div class="highlight-slider-bottom">
      <div class="container">
        <div class="highlight-slider-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure><img src="images/full-width05.jpg" alt="Image">
                <figcaption> <span class="date">March 5th 2020</span> </figcaption>
              </figure>
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
              <figure><img src="images/full-width06.jpg" alt="Image">
                <figcaption> <span class="date">March 5th 2020</span> </figcaption>
              </figure>
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
              <figure><img src="images/full-width07.jpg" alt="Image">
                <figcaption> <span class="date">March 5th 2020</span> </figcaption>
              </figure>
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
              <figure><img src="images/full-width08.jpg" alt="Image">
                <figcaption> <span class="date">March 5th 2020</span> </figcaption>
              </figure>
            </div>
            <!-- end swiper-slide --> 
          </div>
          <!-- end swiper-wrapper --> 
        </div>
        <!-- end highlight-slider-thumbs --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end highlight-slider-bottom --> 
  </div>
  <!-- end highlight-slider-wrapper --> 
  </div>
</section>
<!-- end content-section -->