<section class="content-section">
  <div class="container print-box">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Fashion</h2>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-post colorado">
          <figure class="post-image"> <a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a> <img src="images/image-middle01.jpg" alt="Image"> </figure>
          <div class="post-content">
            <ul class="post-categories">
              <li><a href="#">TRAVEL</a></li>
              <li><a href="#">LIFESTYLE</a></li>
            </ul>
            <h3 class="post-title"><a href="post-single.html">Welsh citizens have mixed opinions as country enters  lockdown</a></h3>
            <div class="metas"> <div class="author">
                    <figure><img src="images/avatar01.jpg" alt="Image"></figure>
                    By <a href="#">Willimes Domson</a></div>
              <div class="dot"></div>
              <span class="date">March 5th 2020</span> <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
      </div>
      <!-- end col-8 -->
      <div class="col-lg-4">
        <div class="blog-post utah">
          <figure class="post-image">
			<video src="videos/video.mp4" autoplay loop muted playsinline></video>
			</figure>
          <div class="post-content">
            <ul class="post-categories">
              <li><a href="#">TRAVEL</a></li>
            </ul>
            <h3 class="post-title"><a href="post-single.html">Flavanols — found in tea, berries and apples — may reduce blood pressure, study finds root.</a></h3>
            <div class="metas"> <span class="date">March 5th 2020</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
      </div>
      <!-- end col-4 -->
      <div class="clearfix spacing-50"></div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb14.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Strengthen your knees with this 5-minute workout</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb09.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">9 breathable face masks to protect you while exercising</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb10.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Impossible milk could be coming to your cereal</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb11.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Mental health expert explains how to practice mindfulness</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb12.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Rumer Willis talks body-shaming at 14 on 'Red Table Talk'</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb13.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Struggling to work productively from home watch you</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>