<section class="content-section space-50" data-background="#0c0c0c">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="blog-post chicago light">
                <div class="post-content">
                  <ul class="post-categories">
                  </ul>
                  <h3 class="post-title"><a href="post-single.html">Transporting him to the hospital it was discovered that blood alcohol</a></h3>
                  <div class="metas"> <div class="author">
                    <figure><img src="images/avatar01.jpg" alt="Image"></figure>
                    By <a href="#">Willimes Domson</a></div>
                    <div class="dot"></div>
                    <span class="date">March 5th 2020</span> </div>
                  <!-- end metas --> 
                </div>
                <!-- end post-content -->
                <figure class="post-image"> <a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a> <img src="images/slide01.jpg" alt="Image"> </figure>
                <!-- end post-image --> 
              </div>
              <!-- end blog-post --> 
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
              <div class="blog-post chicago light">
                <div class="post-content">
                  <ul class="post-categories">
                    <li><a href="#">TRAVEL</a></li>
                    <li><a href="#">LIFESTYLE</a></li>
                  </ul>
                  <h3 class="post-title"><a href="post-single.html">
					  Australia municipal police discovered unconscious man</a></h3>
                  <div class="metas"> <div class="author">
                    <figure><img src="images/avatar01.jpg" alt="Image"></figure>
                    By <a href="#">Willimes Domson</a></div>
                    <div class="dot"></div>
                    <span class="date">March 5th 2020</span> </div>
                  <!-- end metas --> 
                </div>
                <!-- end post-content -->
                <figure class="post-image"> <a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a> <img src="images/slide02.jpg" alt="Image"> </figure>
                <!-- end post-image --> 
              </div>
              <!-- end blog-post --> 
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
              <div class="blog-post chicago light">
                <div class="post-content">
                  <ul class="post-categories">
                    <li><a href="#">TRAVEL</a></li>
                    <li><a href="#">LIFESTYLE</a></li>
                  </ul>
                  <h3 class="post-title"><a href="post-single.html">
					  Highest blood alcohol level recorded had triple the level </a></h3>
                  <div class="metas"> <div class="author">
                    <figure><img src="images/avatar01.jpg" alt="Image"></figure>
                    By <a href="#">Willimes Domson</a></div>
                    <div class="dot"></div>
                    <span class="date">March 5th 2020</span> </div>
                  <!-- end metas --> 
                </div>
                <!-- end post-content -->
                <figure class="post-image"> <a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a> <img src="images/slide03.jpg" alt="Image"> </figure>
                <!-- end post-image --> 
              </div>
              <!-- end blog-post --> 
            </div>
            <!-- end swiper-slide --> 
          </div>
          <!-- end swiper-wrapper -->
          <div class="swiper-pagination"></div>
          <!-- end swiper-pagination --> 
        </div>
        <!-- end main-slider --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>