<section class="content-section">
  <div class="container print-box">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-12 print-box" style="background-color:black;">
            <h2 class="section-title color-heading" style="font-size: 20px;">Jobs Recruitment</h2>
        </div>
    </div>
    <div class="row" style="background-color: white;">


      <div class="col-lg-4 col-md-6">
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb14.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Strengthen your knees with this 5-minute workout</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
            </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb09.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">9 breathable face masks to protect you while exercising</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb10.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Impossible milk could be coming to your cereal</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb11.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Mental health expert explains how to practice mindfulness</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb12.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Rumer Willis talks body-shaming at 14 on 'Red Table Talk'</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post -->
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb13.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Struggling to work productively from home watch you</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>