<section class="content-section">
  <div class="container print-box">
    <div class="row">
      <div class="col-12 print-box" style="background-color:black;">
        <h2 class="section-title color-heading">National</h2>
      </div>
    </div>
    <!-- end row -->
    <div class="row justify-content-center" style="margin-top: 5px;">

      <div class="col-lg-3 col-md-6">
        <div class="blog-post kansas">
          <figure class="post-image"><a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a>  <img src="images/whats-new01.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title custom-fsize"><a href="" class="custom-fsize">Suspect in US documents leak destroy evidence, researched mass shootings, US prosecutors say
            </a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">Kokthum News</span>
                -
            <span class="date"><a href="#">27 April, 2023</a></span> </div>
          </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="blog-post kansas">
          <figure class="post-image"><a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a>  <img src="images/whats-new01.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title custom-fsize"><a href="" class="custom-fsize">Suspect in US documents leak destroy evidence, researched mass shootings, US prosecutors say
            </a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">Kokthum News</span>
                -
            <span class="date"><a href="#">27 April, 2023</a></span> </div>
          </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="blog-post kansas">
          <figure class="post-image"><a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a>  <img src="images/whats-new01.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title custom-fsize"><a href="" class="custom-fsize">Suspect in US documents leak destroy evidence, researched mass shootings, US prosecutors say
            </a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">Kokthum News</span>
                -
            <span class="date"><a href="#">27 April, 2023</a></span> </div>
          </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="blog-post kansas">
          <figure class="post-image"><a href="#" class="bookmark"><i class="fal fa-bookmark"></i></a>  <img src="images/whats-new01.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title custom-fsize"><a href="" class="custom-fsize">Suspect in US documents leak destroy evidence, researched mass shootings, US prosecutors say
            </a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">Kokthum News</span>
                -
            <span class="date"><a href="#">27 April, 2023</a></span> </div>
          </div>
        </div>
        </div>

      




    <!-- end col-12--> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->