<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="blog-post new-york">
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">
				A gym trainer exposed 50 athletes to Covid-19, but no one gets cold</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views -->
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="blog-post new-york">
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">
				 Airlines Around  else got sick because of a ventilation redesign
				</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views -->
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="blog-post new-york">
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Outdoor classrooms reenergize kids during the pandemic</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views -->
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="blog-post new-york">
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Nutritionists recommend their favorite healthy snacks on Amazon</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views -->
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->