<section class="content-section">
  <div class="container">
    <div class="row">
  <h3 class="section-title" style="background-image: linear-gradient(to left, violet, indigo, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;">Authors</h3>
    
    
        


      <div class="col-lg-12 print-list" >
      
        <div class="col-lg-4">
        <div class="blog-post kansas print-box" style="margin-top:10px;padding:5px;">
          <figure class="post-image" style="background-color: white;">
            
            <img src="/images/whats-new01.jpg" alt="Image" style="/* border-radius: 90%; *//* width: 40%; */padding-left: 30%;height: 140px;padding-right: 30%;border-radius: 57%;background: white;">
            <h2 class="post-title" style="text-align:center; background:white;margin-top:10px;">Gobind Debbarma</h2>

            </figure>
          
          <div class="post-content">
            <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
        </div>
        <!-- end blog-post --> 

        


      </div>
      <!-- end col-8 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->

