<main class="main-content w-full px-[var(--margin-x)] pb-8">

<form action="/api/v1/post/test" method="post">

<input type="text" name="auspicious_dates">
<br>
<input type="text" name="pandeet_name">
<br>
<input type="submit">
</form>