/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .print-list {
        display: block;    
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .print-list {
        display: block;    
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .print-list {
        display: block;    
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .print-list {
        display: flex;    
    }
    .inside-list{
        flex: 0 0 50%;
        max-width: 50%; 
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .print-list {
        display: flex; 
    }
    .inside-list{
        flex: 0 0 50%;
        max-width: 50%; 
    }
    
  }